<h1>Welcome to the Experience Music Project gallery</h1>
<h4>Please select your appropriate access level</h4>
<br>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/managers">Manager</a></p>
  <p class="btn--wrapper">
    <a class="btn btn--action" href="/visitors">Visitor</a></p>
