<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
  <title>Experience Music Project: Gallery</title>
</head>
<nav>
  <ul>
    <li><a href="/managers">Managers</a>
    </li>
    <li><a href="/visitors">Visitors</a>
    </li>
  </ul>
</nav>
<body>
  <%= yield %>
</body>
</html>
