<h3>Welcome to the Experience Music Project</h3>
<p>Here you can view our resident artists and exhibits</p>
<br>
<p class="btn--wrapper">
  <a class="btn btn--action" href="/artists">Artists</a>
  <a class="btn btn--action" href="/exhibits">Exhibits</a>
</p>
