<h1>Welcome to the Experience Music Project gallery</h1>
<br>
<h2><a href="/artists">Artists</a></h2>
<ul>
  <% @artists.each do |artist| %>
  <li> <a href="/artists/<%= artist.id %>"><%= artist.full_name %></a>
  </li>
  <hr />
  <% end %>
</ul>

<h2><a href="/exhibits">Exhibits</a></h2>
<ul>
  <% @exhibits.each do |exhibit| %>
  <li><a href="/exhibits/<%= exhibit.id %>"><%= exhibit.title %></a>
  </li>
  <hr />
  <% end %>
</ul>
