<h3>Please create a new category</h3>
<br>
<form method="post" action="/categories">
  <label for="category">Genre name: </label>
  <input id="category" type="text" name="name" />

  <input type='submit' value="Create new category"/>

</form>
