<h2>Please enter details for new artist</h2>
<br>
<form method="post" action="/artists">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name" />


  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name" />

  <label for="link">Insert picture link:</label>
  <input id="link" type="text" name="link" />

  <label for="bio">Write a biography:</label>
  <textarea id="bio" name="bio" maxlength="1000"></textarea>

  <input type='submit' value="Create new artist"/>

</form>
